<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Website</title>
</head>
style 
     include ../static/styleservices.css
<body>
    <nav><ul>
        <li><a href='/home'>Home</a></li>
        <li><a href='/services'>Services</a></li>
        <li><a href='/contact'>Contact Us</a></li>
        <li><a href='/about'>About Us</a></li>
    </ul></nav>
    <div id="stop">
        <h1> Our Services</h1>
    </div>

    <div class="s1">
        <div id="im1">
            <img src="https://cdn.mos.cms.futurecdn.net/2LDXhWbsWQ3VWreWPsrahn.jpg" alt="">
        </div>
        <div id="para1">
        <h3>Focal Vision</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere eligendi amet tempora tempore dignissimos et, totam vel asperiores aperiam, non, reprehenderit praesentium magni. Inventore nemo commodi pariatur adipisci itaque, totam magnam reiciendis illo ipsum cupiditate esse quis veniam at ipsa tempore, iure obcaecati impedit fugit voluptatibus odio quia. Voluptatum, dolorum.</p>
        </div>
    </div>
    <div class="s1">
        <div id="para2">
        <h3>Future </h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere eligendi amet tempora tempore dignissimos et, totam vel asperiores aperiam, non, reprehenderit praesentium magni. Inventore nemo commodi pariatur adipisci itaque, totam magnam reiciendis illo ipsum cupiditate esse quis veniam at ipsa tempore, iure obcaecati impedit fugit voluptatibus odio quia. Voluptatum, dolorum.</p>
    </div>
        <div id="im2">
           <button>
            <img src="https://png.pngtree.com/element_pic/00/16/07/06577d261edb9ec.jpg" alt="loading...">
           </button> 
           <img src="https://png.pngtree.com/element_pic/00/16/07/06577d261edb9ec.jpg" alt="loading...">
        </div>
    </div>



</body>
</html>